.list__item {
    padding: 7px 3px;
    border-bottom: 1px solid #e0e0e0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.item-info {
    display: flex;
    align-items: center;

    .item-info__num {
        margin-right: 10px;
    }

    .item-info__cont {
        width: calc(100% - 75px);
    }

    .item-info__btn {
        width: 75px;
        padding: 3px 7px;
        text-transform: uppercase;
        margin-left: 7px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        cursor: pointer;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        &:hover {
            background-color: #e0e0e0;
        }
    }
}

.edit {
    input {
        width: 100%;
        font-size: 1em;
    }

    .edit__btn {
        padding: 3px 7px;
        text-transform: uppercase;
        margin-left: 7px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        cursor: pointer;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        &:hover {
            background-color: #e0e0e0;
        }
    }
}