<div class="{{innerClasses}}">
    <p class="item-info" *ngIf="!editMode">
        <span class="item-info__cont" (dblclick)="itemHandler('edit')">{{cont.text}}</span>
        <button mat-button class="item-info__btn" (click)="itemHandler('remove')">remove</button>
    </p>
    <label class="edit item-info" *ngIf="editMode">
        <input type="text" [(ngModel)]="cont.text">
        <button mat-button class="edit__btn" (click)="itemHandler('save')">save</button>
    </label>
</div>