@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-size: 16px;
  font-family: "Verdana";
  color: #080808;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover, &:focus, &:active {
    color: inherit;
  }
}

.container {
  width: 75%;
  margin: auto;
  clear: both;
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}