.menu {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  margin: 0 0 24px;
  border-bottom: 1px solid #e0e0e0;

  .menu__item {
    margin: 0 10px;
    padding: 12px 20px;
    font-size: .9em;
    text-transform: uppercase;
    background-color: #e0e0e0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    &:hover {
      background-color: #515151;
      color: #fff;
    }
    &:focus {
      outline: 0;
    }
  }
}