<div class="container">
    <div class="list" cdkDropList [cdkDropListData]="list" (cdkDropListDropped)="drop($event)">
        <app-list-item
                *ngFor="let item of list | pagination: pagination.currentPage : pagination.limit"
                [cont]="item"
                [innerClasses]="'list__item'"
                (removed)="listItemRemoved($event)"
                cdkDrag
        ></app-list-item>
    </div>
    <div class="add-item">
        <form [formGroup]="newItemform" (submit)="addNewItem()">
            <mat-form-field class="add-item__field">
                <input formControlName="text" matInput placeholder="New item text">
            </mat-form-field>
            <button class="add-item__btn" mat-button >Add</button>
        </form>
    </div>
    <div class="pagination">
        <p class="pagination__title">Select page:</p>
        <ul class="pages-list">
            <li *ngFor="let page of pagination.total" class="pages-list__item" (click)="paginationHandler(page)">{{page}}</li>
        </ul>
    </div>
</div>
