.pagination {
    margin-top: 21px;
    margin-bottom: 17px;
    text-align: center;

    .pagination__title {
        margin-bottom: 12px;
    }

    .pages-list {
        text-align: center;
        list-style: none;

        .pages-list__item {
            display: inline-block;
            margin: 0 7px;
            cursor: pointer;
        }
    }
}

.add-item {
    padding: 12px 0;

    .add-item__btn {
        margin-left: 7px;
    }
}